/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
* {
    box-sizing: border-box;        
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
    overflow-x: hidden;
}
body {
	line-height: 1;
    font-family: 'Source Sans 3';
    color: #302D2D;
    position: relative;
}
a {
    text-decoration: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
    font-size: 62px;
    font-weight: 700;  
}
strong {
    font-weight: 700;    
}

.def-title-wrap {
    max-width: 470px;
    margin: 0 auto 45px auto;  
    text-align: center;  
}

.def-title-wrap .def-description {
    font-weight: 300; 
}

.def-title {
    font-size: 46px;
    line-height: 55px;
    margin-bottom: 20px;
}

.def-title .title-bold {
    font-weight: 700;
    color: #2378C9;
}

.def-description {
    font-size: 14px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header START */
.header-top {
    background-color: #2378C9; 
    padding: 14px 0;   
}

.header-top-row {
    display: flex;
    align-items: center;   
    color: #fff;  
    font-size: 14px;   
}

.header-top-row a {
    color: #fff;
}

.header-top-location {
    display: flex;
    align-items: center;    
}

.header-top-location img {
    margin-right: 14px;
}

.header-top-right {
    display: flex;
    align-items: center;
    margin-left: auto;    
}

.header-top-phone {
    margin-right: 40px;
}

.header-top-email {
    margin-right: 55px;
}    

.header-top-phone, 
.header-top-email {
    display: flex;
    align-items: center;
}

.header-top-phone img, 
.header-top-email img {
    margin-right: 14px;
}

.header-top-social {
    display: flex;
    align-items: center;
    column-gap: 31px;
}

.header-top-social a img{
    max-width: 22px;   
}

.header-top-social a:hover {
    transition: 0.3s ease;
    transform: rotate(360deg);
}

.header-bottom {
    padding: 21px 0; 
    box-shadow: 1px 2px 2px -1px rgba(48, 44, 44,0.18);   
}

.header-bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo img {
    max-width: 172px;    
}

.menu-nav ul {
    display: flex;
    align-items: center;
    column-gap: 39px;
}

.menu-nav ul li a {
    color: #302D2D;
    font-size: 18px;  
    transition: 0.35s ease;
}

.menu-nav ul li a:hover {
    color: #2378C9;
}   

.header-bottom-btn {
    background-color: #F86D6D;
    color: #fff;
    padding: 17px 28px;
    border-radius: 26px;
    font-size: 14px;
    text-align: center;
    transition: 0.35s ease;
}

.header-bottom-btn:hover {
    background-color: #E25E5E;
} 

.hamburger {
    margin-left: auto;
    cursor: pointer;
}
/*
.hamburger img {
    width: 30px;
}
*/

.mobile-menu {
    background-color: #2378C9;
    box-shadow: -2px 4px 4px 3px rgba(49, 46, 46, 0.09);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    transition: 0.5s ease;
    transform: translateX(110%);
    z-index: 12;
}

.mobile-menu.is-active {
    transform: none;
}

.mobile-menu-close {
    cursor: pointer;
}

.mobile-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 22px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    position: relative;
}

.mobile-menu-header::after {
    content: '';
    height: 1px;
    width: calc(100% + 40px);
    background-color: rgba(217, 214, 214, 0.56);
    display: block;
    position: absolute;
    bottom: 0;
    left: -20px;
}

.mobile-menu-body {
    text-align: center;    
}

.mobile-menu-body a {
    color: #fff;    
}

.mobile-menu-body .header-top-phone, 
.mobile-menu-body .header-top-email,
.mobile-menu-body .header-top-social {
    justify-content: center;
    margin-right: 0;
    margin-bottom: 30px;
}

.mobile-menu-nav {
    margin-top: 50px;
}

.mobile-menu-nav li{
    margin-bottom: 30px;
}
/* Header END */

/* Hero START */
.s-hero {
    background-color: #0E6EAA;  
    color: #fff;  
}
.hero-row {
    display: flex;
    align-items: center;
}

.hero-subtitle {
    font-size: 14px;
    color: #C5C1FE; 
    position: relative; 
    margin-bottom: 10px;  
}

.hero-subtitle::before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(-100% - 16px);
    background-color: #C5C1FE;
}    

.hero-title {
    margin-bottom: 20px;    
}

.hero-description {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 25px;
}

.hero-btn {
    background-color: #5EB8F0;
    padding: 18px 44px;
    border-radius: 28px; 
    display: inline-block;
    color: #fff;   
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}

.hero-left {
    max-width: 485px;    
}

.hero-logo {
    position:absolute;
    top: 175px;
    right: -90px;
    max-width: 340px;
    width: 100%;
}

.hero-right {
    position: relative;
    margin-left: auto;
    margin-right: 154px;
}

.hero-image {
    max-width: 483px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.hero-circle {
    width: 218px;
    height: 22px;   
    display: block;
    background-color: #fff;
    box-shadow: 0px 4px 133px 239px rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 330px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
}

/* Hero END */

/* About START */
.s-about {
    padding: 110px 0;    
}

.about-row {
    display: flex;
    align-items: center;
    column-gap: 60px;
}

.about-left img {
    max-width: 488px;
}

.about-right{
    max-width: 680px;
}

.about-right .def-title {
    text-align: left;
}

.about-description {
    font-size: 18px;
    color: #686868; 
    line-height: 28px; 
    margin-bottom: 22px; 
}

.about-list-title {
    font-size: 18px;
    margin-bottom: 18px;
}

.about-list-wrap ul {
    column-count: 2;
}

.about-list-wrap ul li {
    font-size: 18px;
    margin-bottom: 18px;
}

.about-list-wrap ul li::before {
    content: '';
    display: inline-block; 
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #2378C9; 
    margin-right: 18px;  
}    

/* About END */

/* Features START */
.s-features {
    background-color: #DFEEFC;  
    padding: 94px 0;  
}   

.features-row {
    display: flex;
    justify-content: space-between; 
    column-gap: 70px;
}

.features-item {
    text-align: center;
    width: 33.3%;
    margin: 0 auto;
}

.features-icon {
    margin-bottom: 25px;
}

.features-icon img{
    max-width: 99px;
}

.features-title {
    font-size: 24px;
    line-height: 1.3;
    max-width: 300px;
    margin: 0 auto 15px auto;
}

.features-description {
    color: #56565E;
    font-size: 18px;
    line-height: 1.3;
}

/* Features END */

/* Team START */
.s-team {
    padding: 90px 0;
}

.team-row {
    display: flex;
    column-gap: 20px;   
}

.team-item {
    width: 25%;
    border-radius: 20px;   
    box-shadow: 0px 0px 8px -1px rgba(29, 28, 28, 0.28); 
    overflow: hidden;
    display: block;
    background-color: #2378C9;
}

.team-image img {
    width: 100%;    
}

.team-footer {
    padding: 22px 24px;
    color: #fff;
}

.team-name {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 7px;
}

.team-prof {
    font-size: 14px;
}

/* Team END */

/* Quote START */
.s-quote {
    padding: 75px 0; 
    background-repeat: no-repeat; 
    background-size: cover;
    background: linear-gradient(257.92deg, #DFEEFC 11.01%, rgba(167, 210, 251, 0.92) 92.77%);  
    position: relative;
}

.s-quote::after {
    content: '';
    background-image: url('../images/tooth.png');
    background-size: 100% 100%;
    width: 731px;
    height: 731px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.s-quote .def-title {
    margin-bottom: 5px;    
}

.s-quote .def-title-wrap {
    margin-bottom: 70px;
}

.quote-wrap {
    background-color: #5EB8F0;
    border-radius: 20px;  
    padding: 40px 60px;  
    display: inline-block;
    color: #fff;
    position: relative;
    z-index: 1;
}

.quote-list-wrap li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed #fff;
    padding-bottom: 15px;
}

.quote-list-wrap li:nth-last-child(n+2) {
    margin-bottom: 28px;    
}

.quote-list-wrap li span:last-child {
    font-weight: 700;        
}
/* Quote END */

/* Blog START */
.s-blog {
    padding: 100px 0;    
}

.blog-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;    
}

.blog-post {
    padding: 15px 15px 50px 15px;
    /*padding-bottom: 37px;*/
    background-color: #F6F6F6;  
    border-radius: 20px;   
    position: relative;   
}

.blog-post-thumb {
    border-radius: 19px;
    overflow: hidden; 
    margin-bottom: 25px;   
}

.blog-post-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;   
}

.blog-post-body {
    padding: 0 15px 15px 15px;
}

.blog-post-top-line {
    margin-bottom: 15px; 
    display: flex;
    justify-content: space-between;  
    align-items: center; 
    color: #A9A9A9;
    font-size: 14px;
}

.blog-post-top-line strong {
    color: #302D2D;
}

.blog-post-title {
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 16px;
}

.blog-post-title a {
    color: #302D2D;
}

.blog-post-descr {
    color: #56565E;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 1.2;
}

.blog-post-readmore {
    background-color: #5EB8F0;
    border-radius: 30px;
    font-size: 18px;
    display: block;
    width: calc(100% - 60px);
    text-align: center;
    padding: 15px;
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
/* Blog END */

/* Reviews START */
.s-reviews {
    padding: 90px 30px; 
    background-color: rgba(50, 48, 48, 0.39); 
    background-blend-mode: overlay;
}

.reviews-wrap {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 55px 30px 80px 30px;    
}

.reviews-row {
    display: flex;
    max-width: 780px;
    margin: 0 auto;
}

.reviews-row:after {
    content: '';
    background-image: url('../images/quote.svg'); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 84px;
    height: 64px;
    display: block;   
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 55px;
}

.reviews-avatar {
    border-radius: 100%;
    min-width: 240px;
    height: 240px;
    overflow: hidden;
    margin-right: 42px;
}

.reviews-avatar img {
    width: 100%;  
    height: 100%; 
    object-fit: cover; 
}

.reviews-text {
    color: #686868; 
    font-size: 18px;  
    margin-bottom: 35px; 
    line-height: 1.5;
}

.reviews-bottom {
    display: flex; 
    align-items: center;
    justify-content: space-between;   
}

.reviews-name {
    font-size: 22px; 
    color: #2378C9;  
    font-weight: 700; 
}

.reviews-social {
    display: flex;
    align-items: center;    
}

.reviews-social a {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px; 
    border-radius: 100%;
    background-color: #E7E7E7;
    text-align: center;
    transition: background-color 0.5s ease; 
}

.reviews-social a:nth-last-child(n+2) {
    margin-right: 20px;
}

.reviews-social a svg path {
    fill: #2378C9;
    transition: fill 0.5s ease;
}

.reviews-social a:hover {
    background-color: #2378C9;    
}

.reviews-social a:hover svg path {
    fill: #fff;
}

.reviews-swiper {
    overflow: visible;    
}

.s-reviews .swiper-button-prev,
.s-reviews .swiper-button-next 
 {
    color: #fff; 
    background-color: #C5C1FE;   
    border-radius: 100%;
    min-width: 60px;
    height: 60px;
    top: 50%;
    transform: translateY(-50%);
}

.s-reviews .swiper-button-prev {
    left: -60px;    
}

.s-reviews .swiper-button-next {
    right: -60px;    
}
 
.s-reviews .swiper-button-prev:after,
.s-reviews .swiper-button-next:after {
    font-size: 24px;
    font-weight: 900;
}

.s-reviews .swiper-slide{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-on-out;
}

.s-reviews .swiper-slide-active {
    opacity: 1;
    visibility: visible;
}
/* Reviews END */

/* Form START */
.s-form {
    background: linear-gradient(257.92deg, #DFEEFC 11.01%, rgba(167, 210, 251, 0.92) 92.77%);
    position: relative;
}

.s-form .container {
    padding: 130px 20px;
    position: relative;
}

.form-row {
    display: flex;
    align-items: center;
}

.form-wrap {
    background-color: #fff;
    box-shadow: 0px 0px 8px 2px rgba(108, 108, 108, 0.25);
    border-radius: 20px;
    padding: 58px 50px;
    display: inline-block;
    max-width: 425px;
    position: relative;
    z-index: 1;
}

.form-title {
    font-size: 32px;
    margin-bottom: 30px;  
    text-align: center;  
}

.form-wrap input {
    appearance: none;
    border: 1px solid #E4E4E4;
    padding: 20px 25px;
    border-radius: 10px;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    outline: none;
    margin-bottom: 20px;
    width: 100%;
}

.form-wrap input::placeholder {
    font-family: 'Source Sans Pro';
    color: #B9B9B9;
}

.form-wrap input[type="submit"] {
    appearance: none;
    background-color: #5EB8F0;
    padding: 18px;   
    border-radius: 30px; 
    color: #fff;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.5s ease; 
    border: none;   
}

.form-wrap input[type="submit"]:hover {
    background-color: #51A8D5;
}

.form-agree {
    max-width: 280px;
    font-size: 14px;
    color: #747474;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto;
}

.form-image {
    position: absolute;
    bottom: 0;
    right: 0;
}
/* Form END */

/* Footer START */
.footer {
    background-color: #10406F;
    color: #fff;
    font-size: 14px;
    line-height: 1.2;
}

.footer a {
    color: #fff;
}

.footer-row {
    display: flex;
}

.footer-left {
    padding: 65px 98px 65px 0;
    margin-right: 98px;
    border-right: 1px solid rgba(180, 180, 180, 0.35);
}

.footer-logo {
    display: block;
    margin-bottom: 80px;
}

.footer-info {
    margin-bottom: 75px;
    max-width: 260px;
}

.footer-info-item {
    display: flex;
    align-items: center;
}

.footer-info-item:nth-last-child(n+2) {
    margin-bottom: 24px;    
}

.footer-info-item img {
    margin-right: 12px;
}

.footer-right {
    padding: 65px 0;
    display: flex;
    column-gap: 84px;
}

.footer-title {
    font-size: 20px;
    font-weight: 600; 
    margin-bottom: 24px;
}

.footer-menu ul li {
    margin-bottom: 12px;
}

.footer-menu ul li a{
    color: #E0E0E0;
    transition: color 0.35s ease;
}

.footer-menu ul li a:hover {
    color: #fff;
}

.footer-copyright {
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid rgba(180, 180, 180, 0.35);
    color: #C3C3C3;
}
/* Footer END */

/* Responsive START */
@media screen and (min-width: 992px) {
    .hamburger {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    /*
    .menu-nav ul li:nth-last-child(n+2) {
        margin-right: 25px;
    }
    */
    .hero-circle {
        width: 50px;    
    }

    .about-row {
        column-gap: 30px;    
    }
}

@media screen and (max-width: 992px) {
    .header-top-phone {
        margin-right: 28px;
    }

    .header-top-social  {
        column-gap: 24px;
    }

    .menu-nav ul {
        column-gap: 24px;
    }
}    

@media screen and (max-width: 992px) {
    /* Header 992 START */
    .header-top-right,
    .menu-nav {
        display: none;

    }
    /* Header 992 END */

    h1 {
        font-size: 40px;    
    }

    .def-title {
        font-size: 40px; 
        line-height: 48px;   
    }

    .def-description {
        font-size: 14px;
        line-height: 1.5;
    }

    /* Hero 992 START */
    .s-hero {
        padding-top: 40px; 
        padding-bottom: 35px;   
    }

    .hero-left {
       margin-bottom: 30px;     
    }

    .hero-row {
        flex-direction: column; 
        position: relative;   
    } 
    
    .hero-title {
        font-size: 40px;    
    }

    .hero-description {
        font-size: 16px;    
    }

    .hero-btn {
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        white-space: nowrap;
    }

    .hero-right {
        margin-right: auto;
    }

    .hero-circle {
        width: 50px;    
    }

    .hero-image {
        max-width: 330px;
        left: -20px;    
    }

    .hero-logo {
        top: 100px;
    }
    /* Hero 992 END */

    /* About 992 START */
    .s-about {
        padding: 48px 0;
    }

    .about-left {
        width: 100%;  
        margin-bottom: 48px;  
    }

    .about-left img {
        max-width: none;
        width: 100%;
    }
    
    .about-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .about-description {
        font-size: 16px;
    }

    .about-list-title {
        font-size: 16px;    
    } 

    .about-list-wrap ul li {
        font-size: 16px;    
    }

    .about-list-wrap ul li::before {
        width: 12px; 
        height: 12px;
        margin-right: 14px;   
    }
    /* About 992 END */

    /* Features 992 START */
    .features-row {
        flex-wrap: wrap;
        column-gap: 0;
    }

    .features-item {
        width: 45%;
        margin-bottom: 40px;
    }
    /* Features 992 END */

    /* Team 992 START */
    .s-team {
        padding: 50px 0;    
    }

    .team-row {
        flex-wrap: wrap;  
        column-gap: 0; 
        justify-content: space-between; 
    }

    .team-item {
        width: 48.5%; 
        margin-bottom: 18px;   
    }
    /* Team 992 END */

    /* Blog 992 START */
    .blog-row {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;    
    }
    /* Blog 992 END */
}

@media screen and (max-width: 768px) {
    /* Reviews 768 START */
    .s-reviews .swiper-button-prev,
    .s-reviews .swiper-button-next {
        min-width: 50px;
        height: 50px;
    }

    .s-reviews .swiper-button-prev {
        left: -55px;    
    }

    .s-reviews .swiper-button-next {
        right: -55px;
    }  

    .reviews-avatar {
        min-width: 200px; 
        height: 200px;   
    }
    /* Reviews 768 END */

    /* Form 768 START */
    .s-form .container {
        padding: 50px 20px;
    }

    .form-wrap {
        margin: 0 auto;    
    }

    .form-image {
        display: none;
    }
    /* Form 768 END */
}    

@media screen and (max-width: 576px) {
    .def-title {
        font-size: 30px; 
        line-height: 38px;   
    }

    /* Header 576 START */
    .header-top-location {
        font-size: 12px;  
        margin-right: 15px;  
    }

    .header-logo {
        margin-right: 20px;
        font-size: 12px;
    }    
        
    .header-logo img{
        max-width: 120px;
    }

    .header-bottom-btn {
        padding: 15px;    
    }
    /* Header 576 END */

    /* About 576 START */
    .about-description {
        font-size: 14px;
    }  

    .about-list-title {
        font-size: 14px;    
    }
    
    .about-list-wrap ul li {
        font-size: 14px;    
    }

    .about-list-wrap ul li::before {
        width: 10px; 
        height: 10px;
        margin-right: 10px;   
    }
    /* About 576 END */

    /* Features 576 START */
    .s-features {
        padding: 55px 0;
    }

    .features-row {
        flex-direction: column;
    }

    .features-item {
        width: 100%;
        max-width: 284px;
    }

    .features-icon img{
        max-width: 85px;
    }

    .features-title {
        font-size: 20px;    
    }

    .features-description {
        font-size: 15px;    
    }
    /* Features 576 END */

    /* Team 576 START */
    .team-item {
        border-radius: 10px;
    }

    .team-footer {
        padding: 15px;    
    }

    .team-name {
        font-size: 16px;    
    }

    .team-prof {
        font-size: 12px;    
    }
    /* Team 576 END */

    /* Quote 576 START */
    .s-quote {
        padding: 50px 0;    
    }

    .s-quote::after {
        display: none;
    }

    .def-title-wrap .def-description {
        margin-bottom: 50px;    
    }

    .quote-wrap {
        width: 100%;
        padding: 40px 30px;
        border-radius: 10px;
    }

    .quote-list-wrap li {
        padding-bottom: 5px;    
    }
    /* Quote 576 END */

    /* Blog 576 START */
    .s-blog {
        padding: 50px 0;
    }

    .s-blog .def-title {
        margin-bottom: 0;    
    }

    .s-blog .def-title-wrap {
        margin-bottom: 30px;    
    }

    .blog-row {
        grid-auto-flow: column; 
        padding: 10px;
        overflow-x: auto;
        width: calc(100% + 20px);
        padding-right: 20px;
    }

    .blog-post {
        min-width: 300px;
        border-radius: 10px;
        padding: 10px 10px 50px 10px;
    }

    .blog-post-thumb {
        border-radius: 10px;    
    }

    .blog-post-body {
        padding: 0 8px, 8px, 8px;    
    }

    .blog-post-title {
        font-size: 20px;
    }

    .blog-post-descr {
        font-size: 14px;
        line-height: 18px;
    }

    .blog-post-readmore {
        width: calc(100% - 32px);
        font-size: 16px;
        padding: 14px;
    }
    /* Blog 576 END */

    /* Reviews 576 START */
    .s-reviews {
        padding: 50px 10px;
    }

    .reviews-wrap {
        padding: 30px 20px;
    }

    .reviews-row {
        display: block; 
    }   
    
    .s-reviews .swiper-button-prev {
        left: -45px;    
    }

    .s-reviews .swiper-button-next {
        right: -45px;
    }  

    .reviews-avatar {
        max-width: 200px; 
        margin: 0 auto 24px auto;  
    }

    .reviews-name {
        font-size: 18px;
    }

    .reviews-text {
        font-size: 14px;
        margin-bottom: 20px;
    }
    /* Reviews 576 END */

    /* Form 576 START */
    .form-wrap {
        padding: 40px 30px;  
    } 
    
    .form-title {
        font-size: 24px;
    }

    .form-wrap input {
        font-size: 16px;    
    }

    .form-agree {
        font-size: 12px;
    }
    /* Form 576 END */
}

/* Responsive END */